- ### The below code will only run if you have givne the right source to collect from.
- ### The data collected from this source is already collected in __collective.csv__ file. Please take it from there.

In [ ]:
import pandas as pd
from googletrans import Translator
from datetime import datetime
id=''
name=''; date=''; nat='';
data=None
with open('temp.txt','r') as obj:

  data=[ str(elm) for elm in obj.readlines()]

  temp=data[0].split(',');
  name=name+temp[0]; date=date+temp[1]; nat=nat+temp[2]
  data.remove(data[0])

dtf=[ int(elm) for elm in date.split('-') ]
new_datetm=datetime(dtf[2],dtf[1],dtf[0])
new_datetm=new_datetm.strftime('%x')

dt={'News':data, 'Channel':[], 'Country':[],'Date':[]}
for i in range( len(data) ):
  dt['Channel'].append(name); dt['Country'].append(nat); dt['Date'].append(new_datetm)

df=pd.DataFrame(dt)
df

,News,Channel,Country,Date
0,गाजा पर इजराइल ने बरपाया कहर उत्तरी गाजापुर इज...,India news,India,11/02/23
1,इजराल गाजापुर की रॉकेट्स की बछर हमलो से गूंजा ...,India news,India,11/02/23
2,इजराइल पर हमास ने रॉकेट अटैक किया सड़क पर आग ल...,India news,India,11/02/23
3,इराल में गिरी इमारत आसपास फैला बिल्डिंग का मलब...,India news,India,11/02/23
4,इजराइल पर मिसाइल से किया गया अटैक इजराइल के फा...,India news,India,11/02/23
...,...,...,...,...
89,अमेरिका के पेंसिलवेनिया में सड़क हादसा कई गाड़...,India news,India,11/02/23
90,जो बाइड ने की डोमिनिकन रिपब्लिक के राष्ट्रपति ...,India news,India,11/02/23
91,वर्ल्ड कप में टीम इंडिया की सबसे बड़ी जीत हुई ...,India news,India,11/02/23
92,भारत पॉइंट टली में टॉप पर टीम इंडिया तो पाच वि...,India news,India,11/02/23
93,शतक से चके शुमन गिल और विराट कोहली श सया ने खे...,India news,India,11/02/23

- Here, we use the translator to convert the Hindi news to Engish.

In [ ]:
translator = Translator()

for ind, row in df.iterrows():

  # Converting each news headline into a line.
  temp=  translator.translate(df.loc[ind,'News']).text
  df.loc[ind, 'News']=temp

df

,News,Channel,Country,Date
0,"Israel wreaked havoc on Gaza, North Gazapur, I...",India news,India,11/02/23
1,Gaza city echoed with volleys of rockets from ...,India news,India,11/02/23
2,"Hamas launched rocket attack on Israel, fire b...",India news,India,11/02/23
3,"Building collapsed in Iral, building debris sp...",India news,India,11/02/23
4,"Missile attack on Israel, Israeli fighter jets...",India news,India,11/02/23
...,...,...,...,...
89,"Road accident in Pennsylvania, USA, one person...",India news,India,11/02/23
90,Joe Biden meets with President of Dominican Re...,India news,India,11/02/23
91,"Team India's biggest win in the World Cup, def...",India news,India,11/02/23
92,"Team India is on top in point tally, Mohammed ...",India news,India,11/02/23
93,Shuman Gill scored a century and Virat Kohli S...,India news,India,11/02/23

Now we store it in a file known as collective.csv.

In [ ]:
df2=pd.read_csv('collective.csv')
df3=pd.concat([df,df2])

data=df3.to_csv('collective.csv',mode='w+',index=False)
df3

,News,Channel,Country,Date
0,"Israel wreaked havoc on Gaza, North Gazapur, I...",India news,India,11/02/23
1,Gaza city echoed with volleys of rockets from ...,India news,India,11/02/23
2,"Hamas launched rocket attack on Israel, fire b...",India news,India,11/02/23
3,"Building collapsed in Iral, building debris sp...",India news,India,11/02/23
4,"Missile attack on Israel, Israeli fighter jets...",India news,India,11/02/23
...,...,...,...,...
89,"Road accident in Pennsylvania, USA, one person...",India news,India,11/02/23
90,Joe Biden meets with President of Dominican Re...,India news,India,11/02/23
91,"Team India's biggest win in the World Cup, def...",India news,India,11/02/23
92,"Team India is on top in point tally, Mohammed ...",India news,India,11/02/23
93,Shuman Gill scored a century and Virat Kohli S...,India news,India,11/02/23